---
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <meta name="description" content="About Terrible Tom's Trinkets, a purveyor of trinkets so terrible you have to buy them." />   
    <title>Terrible Tom's Trinkets | About Us</title>
</head>

<body>
    <div class="container">
        {% include header.html %}
        {% include nav.html %}
        <div class="jumbotron">
            <img src="images/header-about.jpg" alt="engagement ring" class="img-responsive">
            <h1>Our Story</h1>
            <p class="text-center"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em></p>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-6">
                <h1>Our Story</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <img src="images/ring5.jpg" alt="woman with rings and flowers" width="300" height="300" class="img-responsive img-thumbnail">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="http://twitter.com"><img src="images/twitter-wrap.png" alt="Twitter Logo" width="20" height="20" class="social-icon"> Connect on Twitter</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="http://facebook.com"><img src="images/facebook-wrap.png" alt="Facebook Logo" width="20" height="20" class="social-icon">Connect on Facebook</a>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>