---
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}    
    <meta name="description" content="Contact information for Terrible Tom's Trinkets, a purveyor of trinkets so terrible you have to buy them." />    
    <title>Terrible Tom's Trinkets | Contact Us</title>
</head>

<body>
    <div class="container">
        {% include header.html %}
        {% include nav.html %}
        <div class="jumbotron">
            <img src="images/header-contact.jpg" alt="man writing while wearing a watch" class="img-responsive">
            <h1>Thank You</h1>
            <p class="text-center"><em>Your comments have been submitted.</em><br><br>
            <a class="btn btn-default btn-lg" href="contact.html" role="button">Go Back</a>
            </p>
        </div>
        
    </div>
    {% include footer.html %}
</body>

</html>