---
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <meta name="description" content="Fine Jewelry available at Terrible Tom's Trinkets, a purveyor of trinkets so terrible you have to buy them." />    
    <title>Terrible Tom's Trinkets | Fine Jewelry</title> 
</head>

<body>
    <div class="container">
        {% include header.html %}
        {% include nav.html %}
        <div class="jumbotron">
            <img src="images/header.jpg" alt="woman with necklace" class="img-responsive">
            <h1>Fine Jewelry</h1>
            <p class="text-center"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em></p>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <h1 class="text-uppercase">Fine Jewelry</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/ring5.jpg" alt="woman with flowers wearing rings" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/hands.jpg" alt="hands clasped with rings" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/earring.jpg" alt="woman with earring" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/necklace3.jpg" alt="woman wearing necklance and bracelent" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/ring6.jpg" alt="woman holding camera with ring" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/ring3.jpg" alt="engagement ring" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/necklace2.jpg" alt="woman with necklace" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/necklace4.jpg" alt="red beaded necklace" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/necklace5.jpg" alt="chain necklace" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/ring2.jpg" alt="woman with ring and cat" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>

        </div>
    </div>
    {% include footer.html %}
</body>

</html>