---
---

<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}   
    <meta name="description" content="Watches available at Terrible Tom's Trinkets, a purveyor of trinkets so terrible you have to buy them." />    
    <title>Terrible Tom's Trinkets | Watches</title>
</head>

<body>
    <div class="container">
        {% include header.html %}
        {% include nav.html %}
        <div class="jumbotron">
            <img src="images/header4.jpg" alt="man's watch" class="img-responsive">
            <h1>Watches</h1>
            <p class="text-center"><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</em></p>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <h1 class="text-uppercase">Men's Watches</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/watch3.jpg" alt="gray watch" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/watch4.jpg" alt="man writing and wearing a watch" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/watch5.jpg" alt="man with watch and flowers" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/watch11.jpg" alt="pocketwatch" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/watch8.jpg" alt="man's watch" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/watch9.jpg" alt="man writing and wearing a watch" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/watch10.jpg" alt="watch with cover" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-3 col-xs-6 grow">
                <img src="images/watch12.jpg" alt="pocket watch in hand" width="300" height="300" class="img-responsive img-thumbnail">
                <p>Lorem ipsum dolor sit amet</p>
            </div>
            <div class="col-md-6 col-xs-12">
                <h1 class="text-uppercase">Custom Made Just for You</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>