<footer class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 hidden-xs">
        <h3>Site Links</h3>
        <ul>              
          <li><a href="index.html">Home</a></li>
          <li><a href="jewelry.html">Fine Jewelry</a></li>
          <li><a href="watches.html">Watches</a></li>
          <li><a href="about.html">Our Story</a></li>        
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="directory.xml">Directory</a></li>        
        </ul> 
      </div>
      <div class="col-sm-4 hidden-xs social">
        <div>
          <a href="http://twitter.com"><img src="images/twitter-wrap.png" alt="Twitter Logo" width="20" height="20" class="social-icon" />Connect on Twitter</a>
        </div>
        <div>
          <a href="http://facebook.com"><img src="images/facebook-wrap.png" alt="Facebook Logo" width="20" height="20" class="social-icon" />Connect on Facebook</a>
        </div>
      </div>
      <div class="col-xs-12 visible-xs text-center social">Connect With Us</div>
      <div class="col-xs-12 visible-xs text-center">            
          <a href="http://twitter.com"><img src="images/twitter-wrap.png" alt="Twitter Logo" width="20" height="20" class="social-icon" />Twitter</a>           
          <a href="http://facebook.com"><img src="images/facebook-wrap.png" alt="Facebook Logo" width="20" height="20" class="social-icon" />Facebook</a>            
      </div>
      <div class="col-sm-4 col-xs-12 text-center">
        <p><small>Copyright &#169; 2015 Terrible Tom's Trinkets. All Rights Reserved.</small></p>
        <a href="http://validator.w3.org/check/referer"><img src="http://www.netwebdev.net/webclass/images/valid-html5.png" alt="Valid HTML5!" height="15" width="80" /></a>       
      </div> 
    </div>
  </div>
</footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>     